name: Build Flutter APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4  # v3 থেকে v4 করা হয়েছে

    - name: Set up Java
      uses: actions/setup-java@v4 # v3 থেকে v4 করা হয়েছে
      with:
        distribution: 'zulu'
        java-version: '17' # নতুন ফ্লাটার ভার্সনের জন্য Java 17 রিকমেন্ডেড

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.x'
        channel: 'stable'

    - name: Install dependencies
      run: flutter pub get

    - name: Build APK
      run: flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v4 # এই লাইনটিই আপনার এরর ফিক্স করবে (v3 -> v4)
      with:
        name: release-apk
        path: build/app/outputs/flutter-apk/app-release.apk
